

.calc-body {

  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 38rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
}





  .button-number {
    font: inherit;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    width: 6rem;
    height: 4rem;
    margin: 1rem;
    text-align: center;
  }
.button-number:hover {
 
    background-color: #551c6f;
   
  }

